@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');

html {
    height: 100%;
}

* {
    outline: none;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;

    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    background-image: linear-gradient(to left bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    background-size: 200% 200%;
    animation: gradient 30s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%
    }
}

.interactive {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.inputTime {
    width: 75%;
    height: 2em;
    padding: .5em;
    margin: 0;

    box-sizing: border-box;
    border-radius: 200px;
    border: double 12px rgba(255,255,255,0.5);
    background: rgba(255,255,255,0.5);
    background-clip: padding-box;

    font-size: 24px;
    color: #333;

    transition: border .1s linear,
    background-color .1s linear;
}

.inputTime:hover {
    border: double 12px rgba(255,255,255,0.8);
    background-color: rgba(255,255,255,0.8);

}

.inputTime:focus {
    background-color: #333;
    border: double 6px #333;
    color: #fff;
}

button {
    width: 18%;
    padding: .5em;

    background-color: transparent;
    border: 3px solid rgba(255,255,255,0.6);
    border-radius: 20px;
    color: #333;
    font-size: 20px;

    cursor: pointer;
    transition: border-radius .1s linear,
                border-color .1s linear;
}

button:hover {
    border-color: rgba(255,255,255,0.9);
    border-radius: 22px;
    background: #333;
    color: #fff;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.main__screen {
    height: 80%;
}

.logo img {
    width: 20em;
}

.timer__screen {
    display: none;
}

.timer__screen {
    position: relative;
    width: 100%;
    height: 100%;

    background: #fff;
}

.time__outer {
    width: 0;
    height: 100%;
    background: linear-gradient(90deg, rgba(0,255,0,1) 0%, rgba(255,0,0,1) 100%);
}

.timer p {
    position: relative;
    top: 48%;

    text-align: center;
    font-size: 30px;
    color: rgba(256,256,256,.3);
}

.num__time {
    color: rgba(256,256,256,1);
    font-size: 60px;
}

.timer {
    width: 98%;
    height: 95%;
    position: absolute;
    top: 2.5%;
    left: 1%;

    background: #333;
}